
<div class="dropdown">
  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Catálogo
  </a>

  <ul class="dropdown-menu">
        @foreach(var category in Model)
        {
            <li>
                <a class="dropdown-item" asp-controller="Burger" asp-action="List" asp-route-category="@category.CategoryName" >@category.CategoryName</a>
            </li>
        }
        <hr/>
        <a class="dropdown-item" asp-controller="Burger" asp-action="List" asp-route-category="" >Todos os Lanches</a>
    </ul>
</div>