@model HomeViewModel

<partial name="_Carousel"/>

<h3>Os favoritos da galera!</h3>
<div clas"row">
    @foreach(var burger in Model.AwesomeBurgers)
    {
        <partial name="_BurgerCatalog" for="@burger"/>
    }
</div>